@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search > path {
    fill: hsl(0, 0%, 52%);
  }
  .dark-search > path {
    fill: hsl(0, 0%, 100%);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

html{
  height: 100%;
}

body {
  min-height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
